<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atom.minio.mapper.FileQrCodeRelationMapper">

    <insert id="insertFileQrCodeRelation" parameterType="com.atom.minio.entity.FileQrCodeRelation">
        INSERT INTO file_qr_code_relation (file_id, qr_code_id,token, created_at)
        VALUES (#{fileId}, #{qrCodeId}, #{token}, #{createdAt})
    </insert>

</mapper>
